// Globals

$font-color: navy
$background-color: steelblue

// Normalization

a
  text-decoration: initial
  color: $font-color

ul
  list-style: none

ul li
  margin: 0
  padding: 0


// Application

body
  font-family: helvetica
  color: navy
  background-color: $background-color
  main
    margin: 0 auto
    width: 900px
    header
      padding-top: 10px
      h1
        font-family: 'Montserrat', sans-serif
        margin: 0 auto
        width: 200px
        font-size: 50px
        text-align: center
        a
          color: white
      p.subheader
        text-align: center
      ul
        float: right
        margin-top: -40px
        li
          display: inline
          padding: 10px
          border-bottom: 1px solid $font-color
          margin-right: 5px
          a
            padding: 0 5px
      p.subheader
        width: 300px
        margin: 0 auto
        margin-bottom: 10px
        padding: 15px

    article
      background-color: white
      padding: 10px
      border-radius: 5px
      table
        width: 100%
        text-align: center
        tr.even
          background-color: lavender
        td
          padding: 5px
    .warning
      color: red
    .success
      color: green
      padding: 10px 0

    footer
      text-align: center
      padding: 15px 0
      margin: 0 auto
      width: 210px
